.footer-container {
    padding: 40px;
    margin: 0 auto;
    border-top: 1px solid #2c2b27;
    box-shadow: 0 2px 88px inset #312d2d;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.social img {
    width: 33px;
    height: 28px;
}

.social {
    display: flex;
    gap: 40px;
}

h4 {
    text-align: center;
}