html {
  background-color: #1f1e1c;
  color: white;
}

.header1 {
  width: 100%;
  height: 220px;
  border: 4px solid #61dafb;
}

.info-box {
  display: grid;
  grid-template-areas:
    "left middle right"
;
  grid-auto-columns: auto 0.6fr auto;
  padding-top: 100px;
}
.info-box About {
  grid-area: middle;
}

.left-col {
  grid-area: left;

}

.right-col {
  grid-area: right;
}

